body {margin:0}

@media screen and (min-width: 1201px) 
{
h2 {font-size:35px;}
h3 {font-size:30px;}
div {font-size:20px;}
label {font-size:20px;}

.logo {width: 100%; height: 100px; background-color:#0033FF; text-align:center; color:white; border-bottom-style:solid; border-color:black; border-width: medium; cursor:default; font-size:60px;}
.menulewe {width: 15%; height: 2000px; background-color:#333;float: left; text-align:left; color:white; font-size:20px;}
.menulewe2 {width: 15%; height: 1300px; background-color:#333;float: left; text-align:left; color:white; font-size:20px;}
.tresc1 {width: 75%; height: 1900px; background-color:white; font-size:20px;float: left; padding:15px;}
.tresc2 {width: 65%; height: 1200px; background-color:white; text-align:justify; font-size:20px;float: left; padding:15px}
.stopka {width: 100%; height: 50px; background-color:#0033FF; text-align:center;font-size:20px;clear: both; color:white; border-top-style:solid; border-color:black; border-width: medium;}
.stopka2 {width: 100%; height: 50px; background-color:#0033FF; text-align:center;font-size:20px;clear: both; color:white; border-top-style:solid; border-color:black; border-width: medium;}

table {border-style:solid; border-color:black;}
td {border-style:solid; border-color:black; color:black; font-size:1.5vw;}
th {border-style:solid; border-color:black; color:white; background-color:#0033FF; font-size:1.5vw;}

.galeria {border-style:solid; border-color:#0033FF; border-radius:15px; width:70vw;}
.column { width: 13%;}
.niebieski {color:#0033FF; text-decoration:underline;}

a:visited.menu {color:white; text-decoration:none;}
a:link.menu {color:white; text-decoration:none;}
a:visited {color:black; text-decoration:underline;}
a:link {color:black; text-decoration:underline;}
a:hover {color:#0033FF;}
a:hover.menu {color:#0033FF;}

a:link.tytul {color:black; text-decoration:none;}
a:visited.tytul {color:black; text-decoration:none;}
a:hover.tytul {color:#0033FF; text-decoration:none;}
a:link.nazwa {color:black; text-decoration:none;}
a:visited.nazwa {color:black; text-decoration:none;}
a:hover.nazwa {color:black; text-decoration:none; cursor:default;}

.hover-shadow:hover {box-shadow: 0 4px 8px 0 rgba(0, 51, 255, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

.topnav a.active {background-color: #0033FF;}
.topnav a {font-size: 20px;}
.zdj {border-color:#0033FF;}
}


@media screen and (max-width: 600px) 
{
h2 {font-size:4.5vw;}
h3 {font-size:4vw;}
div {font-size:3vw}
label {font-size:3vw;}
.logo {width: 100%; height: 50px; background-color:#0033FF; text-align:center; color:white; border-bottom-style:solid; border-color:black; border-width: medium; cursor:default; font-size:7vw;}
.menulewe {width: 25%; height: 2700px; background-color:#333;text-align:left; color:white; font-size:2.5vw; float:left}
.menulewe2 {width: 25%; height: 1500px; background-color:#333;float: left; text-align:left; color:white; font-size:3vw;}
.menugora {width: 100%; height: 100px; background-color:#3399FF; text-align:center; color:black;}
.tresc1 {width: 50%; height: 100%; background-color:white; text-align:justify; font-size:3vw;float: left; padding:15px;}
.tresc2 {width: 65%; height: 100%; background-color:white; text-align:justify; font-size:3vw;float: left; padding:15px}
.stopka {width: 100%; height: 25px; background-color:#0033FF; text-align:center;font-size:3vw;clear: both; color:white; border-top-style:solid; border-color:black; border-width: medium;}
.stopka2 {width: 100%; height: 25px; background-color:#0033FF; text-align:center;font-size:20px;clear: both; color:white; border-top-style:solid; border-color:black; border-width: medium;}
table {font-size:10px; border-style:solid; border-color:black;}
td {border-style:solid; border-color:black; color:black; font-size:3vw;}
th {border-style:solid; border-color:black; color:white; background-color:#0033FF; font-size:3vw;}

/*.galeria {border-style:solid; border-color:#0033FF; border-radius:15px; width:50vw;}*/
.column { width: 30vw;}
.niebieski {color:#0033FF; text-decoration:underline;}
a:visited.menu {color:white; text-decoration:none;}

a:link.menu {color:white; text-decoration:none;}
a:visited {color:black; text-decoration:underline;}
a:link {color:black; text-decoration:underline;}
a:hover {color:#0033FF;}
a:hover.menu {color:#0033FF;}

a:link.tytul {color:black; text-decoration:none;}
a:visited.tytul {color:black; text-decoration:none;}
a:hover.tytul {color:#0033FF; text-decoration:none;}
a:link.nazwa {color:black; text-decoration:none;}
a:visited.nazwa {color:black; text-decoration:none;}
a:hover.nazwa {color:black; text-decoration:none; cursor:default;}

.hover-shadow:hover {box-shadow: 0 4px 8px 0 rgba(0, 51, 255, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

.topnav a.active {background-color: #0033FF;}
.topnav a {font-size: 3vw;}
.zdj {border-color:#0033FF;}

.img1 {display: flex; justify-content: center; align-items: center; border-style:solid; border-color:#0033FF; border-radius:15px; width:50vw;}
.img2 {display:none;}
}
/*MENU*/
@media screen and (max-width: 600px)
{
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px)
{
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (min-width: 601px) and (max-width: 1200px) 
{
h2 {font-size:35px; text-align:left;}
h3 {font-size:30px;}
div {font-size:20px;}
label {font-size:20px;}
.logo {width: 100%; height: 100px; background-color:#DE4F02; text-align:center; color:white; border-bottom-style:solid; border-color:black; border-width: medium; cursor:default; font-size:5vw;}
.menulewe {width: 20%; height: 2400px; background-color:#333;float: left; text-align:left; color:white; font-size:2.5vw;}
.menulewe2 {width: 20%; height: 1700px; background-color:#333;float: left; text-align:left; color:white; font-size:2.5vw;}
.menugora {width: 100%; height: 100px; background-color:#3399FF; text-align:center; color:black;}
.tresc1 {width: 74%; height: 100%; background-color:white; text-align:justify; font-size:20px;float: left; padding:15px}
.tresc2 {width: 74%; height: 100%; background-color:white; text-align:justify; font-size:20px;float: left; padding:15px}
.stopka {width: 100%; height: 50px; background-color:#DE4F02; text-align:center;font-size:20px;clear: both; color:white; border-top-style:solid; border-color:black; border-width: medium;}
.stopka2 {width: 100%; height: 50px; background-color:#DE4F02; text-align:center;font-size:20px;clear: both; color:white; border-top-style:solid; border-color:black; border-width: medium;}
table {/*font-size:10px; */border-style:solid; border-color:black;}
td {border-style:solid; border-color:black; color:black; font-size:2.5vw;}
th {border-style:solid; border-color:black; color:white; background-color:#DE4F02; font-size:2.5vw;}

.galeria {border-style:solid; border-color:#DE4F02; border-radius:15px; width:70vw}
.column { width: 30%%;}
.niebieski {color:#DE4F02; text-decoration:underline;}

a:visited.menu {color:white; text-decoration:none;}
a:link.menu {color:white; text-decoration:none;}
a:visited {color:black; text-decoration:underline;}
a:link {color:black; text-decoration:underline;}
a:hover {color:#DE4F02;}
a:hover.menu {color:#DE4F02;}

a:link.tytul {color:black; text-decoration:none;}
a:visited.tytul {color:black; text-decoration:none;}
a:hover.tytul {color:#DE4F02; text-decoration:none;}
a:link.nazwa {color:black; text-decoration:none;}
a:visited.nazwa {color:black; text-decoration:none;}
a:hover.nazwa {color:black; text-decoration:none; cursor:default;}

.hover-shadow:hover {box-shadow: 0 4px 8px 0 rgba(222, 79, 2, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

.topnav a.active {background-color: #DE4F02;}
.topnav a {font-size: 2.5vw;}
.zdj {border-color:#DE4F02;}
}
/*MENU*/
@media screen and (min-width: 601px) and (max-width: 1200px)
{
  .topnav a:not(:nth-child(-n + 6)) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (min-width: 601px) and (max-width: 1200px)
{
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}






/*#spis {overflow:auto;}
.zdj {float:right}*/
#spis {float:left;}
.zdj {float:right; border-style:solid; border-width:medium; height:180px;}
.opis {position:static; float:left;}










ul {list-style-position:outside;}
ol {list-style-position:outside; color:white;}
ol.spis {list-style-position:outside; color:black;}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 250px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.7s;
}

/*.hover-shadow:hover {}*/





/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}